<home class="app-page">
    <header class="header-bar">
        <div class="center">
            <h1 class="title">Compteur Belote</h1>
        </div>
    </header>
    <div class="content">


        <div class="padded-full">

                <div class="row text-center table">
                    <div class="tablet-2 large-2 phone-2 column table-leader">n°</div>
                    <div class="tablet-5 large-5 phone-5 column table-leader">Nous</div>
                    <div class="tablet-5 large-5 phone-5 column table-leader">Vous</div>
                </div>
                

                <div id="score">
                </div>

                <div  class="row text-center table">
                    <div class="tablet-2 large-2 phone-2 column table-item"></div>
                    <div class="tablet-5 large-5 phone-5 column table-item"><i class="icon icon-add with-circle"></i></div>
                    <div class="tablet-5 large-5 phone-5 column table-item"><i class="icon icon-add with-circle"></i></div>
                </div>
                <div class="padded-bottom"></div>
                <button class="btn fit-parent">Reset</button>
        </div>
</home>